<% include header %>
<div id="fr">
<h2><span class="EN">Write a new entry</span></h2>

<form method="post" role="form">
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title"
  name="title" placeholder="Entry title" required></div>

<div class="form-group">
<label for="content">Entry text</label>
<textarea class="form-control" id="body" name="body"
placeholder="Type in your experience." rows="3" required></textarea></div>

<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary"></div>
</form>
</div>
<% include footer %>
