@font-face {
    font-family: billyArgelTrail;
    src: url("BILLY ARGEL TRIAL___.otf");
}
.EB{
    font-family: billyArgelTrail;
    font-style: italic;
    font-size: 2.5em;
    margin-left: 7%;
    color: #e1e2dd;
}
.EN{
    margin-left: 0%;
    color: #e1e2dd;
    font-size: 1em;
    font-style: italic;
}
.panel-default>.panel-heading{
     background-color: #54d4c2;
}
.panel-default {
    border-color: #ddd;
    width: 70%;
    margin-left: 15%;
}
body{
    background-image: url("bg.png") ;
    background-size: cover;
}
#wr{
    margin-right: 6%;
}
#add{
    margin-left: 7%;
    font-size: 1.5em;
}
#fr{
    width:60%;
    margin: 0 auto;
}
label{
    color: #e1e2dd;
}